html {
  font-family: Arial, sans-serif;
  font-size: 30px;
}

/* -------------------- Calendar  -----------------*/
.calendar {
  display: flex;
  flex-wrap: wrap;

  width: 706px;

  margin: 0 auto;
  margin-top: 175px;

  > div {
    position: relative;

    height: 100px;
    width: 100px;
    margin-right: 1px;
    margin-bottom: 1px;

    line-height: 100px;
    text-align: center;

    background-color: #eee;

    border: 1px solid black;

    transition: transform 0.5s;

    &:hover {
      cursor: pointer;

      background-color: pink;

      transform: translateY(-20px);
    }
  }
}

/* -------------------- Loop for numbers creating  -----------------*/

@for $i from 1 through 31 {
  .calendar div:nth-child(#{$i})::after {
    content: "#{$i}";
  }
}

/* -------------------- Sundays margin correction -----------------*/
.calendar-mon div:nth-child(7n+7) {
  margin-right: 0;
}

.calendar-tue div:nth-child(7n+6) {
  margin-right: 0;
}

.calendar-wed div:nth-child(7n+5) {
  margin-right: 0;
}

.calendar-thu div:nth-child(7n+4) {
  margin-right: 0;
}

.calendar-fri div:nth-child(7n+3) {
  margin-right: 0;
}

.calendar-sat div:nth-child(7n+2) {
  margin-right: 0;
}

.calendar-sun div:nth-child(7n+1) {
  margin-right: 0;
}

/* -------------------- Days in month -----------------*/
.calendar-28 div:nth-child(n+29) {
  display: none;
}

.calendar-29 div:nth-child(n+30) {
  display: none;
}

.calendar-30 div:nth-child(n+31) {
  display: none;
}

.calendar-31 div:nth-child(n+32) {
  display: none;
}

/* ------------- First day of the month to day of week -------------*/

.calendar-mon div:first-child {
  margin-left: 0;
}

.calendar-tue div:nth-child(1) {
  margin-left: 101px;
}

.calendar-wed div:nth-child(1) {
  margin-left: 202px;
}

.calendar-thu div:nth-child(1) {
  margin-left: 303px;
}

.calendar-fri div:nth-child(1) {
  margin-left: 404px;
}

.calendar-sat div:nth-child(1) {
  margin-left: 505px;
}

.calendar-sun div:nth-child(1) {
  margin-left: 606px;
}
